@font-face {
    font-family: 'Manrope';
    font-weight: normal;
    font-style: normal;

    src: url('Manrope-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    font-style: normal;

    src: url('Manrope-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    font-style: normal;

    src: url('Manrope-SemiBold.woff2') format('woff2');
}
