/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* GENERAL CSS */
/*html,
body {
  height: 100%;
}*/

/*#__next, #__next > div {
  height: 100%;
}*/

body {
	background-color: #f8f8f8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
    --main-section-display: flex;
}

/* MENU */
.mobile_menu_container {
	display: none;
}

.mobile_menu {
	z-index: 50;
	display: flex;
	flex-direction: column;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;

	padding-top: 125px;

	height: 100vh;
	width: 100vw;

	background-color: #f8f8f8;

	visibility: hidden;
  opacity: 0;
	transition: visibility 0.25s, opacity 0.20s linear;
}
.mobile_menu.active {
	visibility: visible;
  opacity: 1;
}

.mobile_menu_title {
	padding-bottom: 15vh;
	font-family: 'Manrope';
	font-size: 50px;
	font-weight: 500;
	color: transparent;
	background: linear-gradient(91.71deg, #FF7C7C 0%, #63E3FF 99.36%);
	background-clip: text;
}

.mobile_nav_links {
	display: flex;
	flex-direction: column;

	margin: -10px 0;

	font-family: Manrope;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 34px;
}
.mobile_nav_links > a {
	margin: 10px 0;
}
.mobile_nav_links > a.current_link {
	text-decoration: line-through;
}

/* MENU ICON */
.menu_icon {
	z-index: 5000;
	position: fixed;
	top: -9px;
	right: -8px;
}

@media only screen and (max-width: 999px) {
	.mobile_menu_container {
		display: block;
	}
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  //stroke-dashoffset: -20px;
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
