/* GENERAL CSS */
.main {
  /*height: 500%;*/
  background: black;
}

.footer {
  display: var(--main-section-display);
  justify-content: center;
  opacity: var(--main-section-opacity);

  margin-bottom: 7px;
  position: absolute;
  bottom: 0;
  width: 100%;

  text-align: center;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 20px;
  color: white;
  z-index: 50;
}

@media only screen and (max-width: 999px) {
  .footer {
    font-size: 16px;
    color: black;
  }
}

/* NAV BAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 5000;
  top: 0;
  padding: 0 10px;
  width: 100%;

  font-family: 'Manrope';
}

.logotype {
  position: relative;
  top: 3px;
  margin-bottom: 3px;
  font-size: 40px;
  z-index: 5;
}

.language {
  font-size: 20px;
}

.nav_links {
  font-size: 20px;
}

.nav_links > a {
  margin-left: 20px;
}
.nav_links > a:hover {
  text-decoration: underline;
}
.current_link, .nav_links > .current_link:hover {
  text-decoration: line-through;
}

.menu_icon {
  display: none;
}

@media only screen and (max-width: 999px) {
  .logotype {
    width: unset;
  }

  .language {
    display: none;
  }

  .nav_links {
    display: none;
  }
}

/* MAIN SECTION */
.main_section {
  z-index: 50;
  display: var(--main-section-display);
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  padding-bottom: 50px;
  opacity: var(--main-section-opacity);

  top: 0;
  min-height: 100%;
  width: 100%;

  background: linear-gradient(107.56deg, #FF7C7C 0%, #63E3FF 100%);
}

.main_title {
  margin-top: 17px;
  margin-bottom: 19px;
  text-align: center;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 125px;
  color: white;
}

.main_subtitle {
  text-align: center;
  font-family: 'Manrope';
  font-weight: normal;
  font-size: 40px;
}

.main_button {
  cursor: pointer;
  margin-top: 103px;
  margin-top: clamp(0px, 11vh, 103px);

  width: 250px;
  height: 57px;

  font-family: 'Manrope';
  font-weight: bold;
  font-size: 20px;
  color: white;

  background: black;
  border-radius: 7px;
  border: none;
}
.main_button:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fff;
}

.main_button:hover {
  background: transparent;
  color: black;
  border: solid 2px black;
}

@media only screen and (max-width: 999px) {

  .main_section {
    padding-left: 2px;
    padding-right: 2px;

    background: linear-gradient(150deg, #FF7C7C 0%, #63E3FF 100%);
  }

  .main_title {
    margin-top: -25vh;
    font-size: 50px;
  }

  .main_subtitle {
    width: 300px;

    font-size: 25px;
  }

  .main_button {
    position: absolute;
    bottom: 94px;
  }
}

/* CANVAS */
.canvas {
  z-index: 5;
  position: fixed;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.canvas_background {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: bottom;

  display: var(--canvas-display);
  opacity: var(--canvas-opacity);
}
