/* NAV BAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 5000;
  top: 0;
  padding: 0 10px;
  width: 100%;

  font-family: 'Manrope';

  background: rgba(248, 248, 248, 0.85);
  mix-blend-mode: normal;
  backdrop-filter: saturate(300%) blur(7px);
}

.logotype {
  position: relative;
  top: 3px;
  margin-bottom: 3px;
  font-size: 40px;
  z-index: 5;
}

.nav_links {
  font-size: 20px;
}

.nav_links > a {
  margin-left: 20px;
}
.nav_links > a:hover {
  text-decoration: underline;
}
.current_link, .nav_links > .current_link:hover {
  text-decoration: line-through;
}

.menu_icon {
  display: none;
}

@media only screen and (max-width: 999px) {
  .logotype {
    width: unset;
  }

  .language {
    display: none;
  }

  .nav_links {
    display: none;
  }
}

/* GENERAL CSS */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 140px 10vw 0 10vw;

  background-color: #f8f8f8;
}

.page_title {
  margin-bottom: 100px;

  font-family: 'Manrope';
  font-weight: 500;
  font-size: 80px;
  color: transparent;

  background: linear-gradient(91.71deg, #FF7C7C 0%, #63E3FF 99.36%);
  background-clip: text;
}

.section {
  margin-bottom: 86px;
  width: 100%;
  max-width: 900px;
}

.section_title {
  margin-bottom: 27px;

  font-family: 'Manrope';
  font-weight: 500;
  font-size: 40px;
}

.contact_items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -40px;
}

.contact_items > span {
  margin: 0 40px;
  font-family: 'Manrope';
  font-size: 20px;
}

.contact_items > span > a {
  color: #0645AD;
}

.section_p, .skill_category {
  font-family: 'Manrope';
  font-size: 20px;
}

.skill_category {
  margin-bottom: 13px;
}

.category_name {
  font-weight: 600;
}

@media only screen and (max-width: 999px) {
  .section {
    margin-bottom: 34px;
  }

  .main {
    padding: 125px 19px 0 19px;
  }

  .page_title {
    margin-bottom: 75px;
    font-size: 45px;
  }

  .section_title {
    margin-bottom: 14px;
    font-size: 25px;
  }

  .contact_items {
    margin: -9.5px;
  }

  .contact_items > span {
    font-size: 16px;
    margin: 9.5px;
  }

  .section_p, .skill_category {
    font-size: 16px;
  }
}
