/* NAV BAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 5000;
  top: 0;
  padding: 0 10px;
  width: 100%;

  font-family: 'Manrope';

  background: rgba(248, 248, 248, 0.85);
  mix-blend-mode: normal;
  backdrop-filter: saturate(300%) blur(7px);
}

.logotype {
  position: relative;
  top: 3px;
  margin-bottom: 3px;
  font-size: 40px;
  z-index: 5;
}

.nav_links {
  font-size: 20px;
}

.nav_links > a {
  margin-left: 20px;
}
.nav_links > a:hover {
  text-decoration: underline;
}
.current_link, .nav_links > .current_link:hover {
  text-decoration: line-through;
}

.menu_icon {
  display: none;
}

@media only screen and (max-width: 999px) {
  .logotype {
    width: unset;
  }

  .language {
    display: none;
  }

  .nav_links {
    display: none;
  }
}

/* GENERAL CSS */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 140px 10vw 50px 10vw;

  background-color: #f8f8f8;
}

.page_title {
  margin-bottom: 50px;

  font-family: 'Manrope';
  font-weight: 500;
  font-size: 80px;
  color: transparent;

  background: linear-gradient(91.71deg, #FF7C7C 0%, #63E3FF 99.36%);
  background-clip: text;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_title {
  margin-bottom: 11px;

  font-family: 'Manrope';
  font-weight: 500;
  font-size: 40px;
}

.form_subtitle {
  margin-bottom: 30px;

  font-family: 'Manrope';
  font-size: 20px;
}

.contact_me {
  color: #0645AD;
}

.form_question {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form_question > label {
  margin-bottom: 11px;
  font-family: 'Manrope';
  font-size: 20px;
}

.asterisk {
  color: #EE6A5F;
}

.form_question > input {
  width: 700px;
  max-width: 95vw;
  height: 45px;

  padding-left: 5px;

  font-size: 18px;
  font-family: 'Manrope';

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.form_question > textarea {
  width: 700px;
  max-width: 95vw;
  height: 90px;

  padding: 5px;

  font-size: 18px;
  font-family: 'Manrope';

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.form_question > input:focus, .form_question > textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px #000000;
}

.submit {
  cursor: pointer;

  margin-top: 36px;

  width: 250px;
  height: 57px;

  font-family: 'Manrope';
  font-weight: bold;
  font-size: 20px;
  color: white;

  background: black;
  border-radius: 7px;
  border: none;
}
.submit:hover {
  background: transparent;
  color: black;
  border: solid 2px black;
}
.submit:focus {
  box-shadow: 0 0 0 3px #a0a0a0;
}

@media only screen and (max-width: 999px) {
  .main {
    padding: 125px 19px 40px 19px;
  }

  .page_title {
    margin-bottom: 25px;
    font-size: 45px;
  }

  .form_title {
    margin-bottom: 14px;
    font-size: 23.25px;
  }

  .form_subtitle {
    font-size: 16px;
  }

  .form_question > label {
    margin-bottom: 8px;
    font-size: 16px;
  }

  .form_question > input {
    height: 35px;
    font-size: 14px;
  }

  .form_question > textarea {
    height: 70px;
    font-size: 14px;
  }

  .submit {
    margin-top: 31.5px;
    width: 95vw;
  }
}

@media only screen and (min-width: 450px) {
  .submit {
    max-width: 250px;
  }
}
