/* NAV BAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 5000;
  top: 0;
  padding: 0 10px;
  width: 100%;

  font-family: 'Manrope';

  background: rgba(248, 248, 248, 0.85);
  mix-blend-mode: normal;
  backdrop-filter: saturate(300%) blur(17px);
}

.logotype {
  position: relative;
  top: 3px;
  margin-bottom: 3px;
  font-size: 40px;
  z-index: 5;
}

.language {
  font-size: 20px;
}

.nav_links {
  font-size: 20px;
}

.nav_links > a {
  margin-left: 20px;
}
.nav_links > a:hover {
  text-decoration: underline;
}
.current_link, .nav_links > .current_link:hover {
  text-decoration: line-through;
}

.menu_icon {
  display: none;
}

@media only screen and (max-width: 999px) {
  .logotype {
    width: unset;
  }

  .language {
    display: none;
  }

  .nav_links {
    display: none;
  }
}

/* GENERAL CSS */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 140px;
  padding-bottom: 110px;

  background-color: #f8f8f8;
}

.page_title {
  margin-bottom: 100px;

  font-family: 'Manrope';
  font-weight: 500;
  font-size: 80px;
  color: transparent;

  background: linear-gradient(91.71deg, #FF7C7C 0%, #63E3FF 99.36%);
  background-clip: text;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
}

.project_title {
  margin-bottom: 15px;

  font-family: 'Manrope';
  font-weight: 500;
  font-size: 40px;
}

.project_text, .project_link {
  width: 900px;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;

  max-width: 95vw;
}

.image_container {
  position: relative;
  margin: 45px 0 37px;
  width: 1000px;
  max-width: 95vw;
}

.image_container > svg {
  width: 1000px;
  max-width: 95vw;
  box-shadow: -20px -20px 60px #BEBEBE, 20px 20px 60px #BEBEBE;
  border-radius: 10px;
}

.project_image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.project_link {
  line-height: 50px;
}

@media only screen and (max-width: 999px) {
  .main {
    padding-top: 125px;
    padding-bottom: 45px;
  }

  .page_title {
    margin-bottom: 75px;
    font-size: 45px;
  }

  .project {
    margin-bottom: 36px;
  }

  .project_title {
    font-size: 25px;
  }

  .project_text, .project_link {
    width: 95vw;
    max-width: 700px;
    font-size: 16px;
  }

  .image_container {
    margin: 25px 0 20px;
  }

  .image_container > svg {
    border-radius: 5px;
  }

  .project_image {
    border-radius: 0 0 5px 5px;
  }
}
